# terraform.tfvars.example
# Copy this file to terraform.tfvars and fill in the actual values.

# S3 bucket name for storing Lambda function artifacts
artifact_bucket = "ig-post-extractor-artifact"

# S3 prefix path for the Lambda function artifacts
artifact_prefix = "functions/ig_post_extractor/4cc602b72521a0bc4bc3690b22bc29e7"
